<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static\HOME.css">
    </head>    
    <body bgcolor="wheat">
            <center>
                <h1>Country Having Most Number of Death</h1>
                <img src="static/Death_more_than_100000000.png" height=450px width="450px">
            </center>
            <ul style="margin:40px 25px 20px 25px;">
                <li> From the above visualization it is clear that the country having maximum number of death due to all the factors from the year 1990-2017 is in China with more than 320 million (323072368.80) deaths followed by India with more than 280 million (282281596.42) deaths.</li>
                <p/>
                <li> The total number of death worldwide due to all the factors is more than 1.6 billion (1645135262.86).</li>
                <p/>
                <li> The total number of death in Southeast Asia,East Asia and Oceania due to all the factors is more than 460 million (460875240.51).</li>
            </ul>
            <br>
            <hr>
            <br>
            <center>
                <h1>Places Having the Lowest Death Count</h1>
                <img src="static/Death_Less_than_50000.png" height=450px width="450px">
            </center>
            <ul style="margin:40px 25px 20px 25px;">
                <li> From the above visualization it is clear that the number of death recorded from 1990 to 2017 is least in Northern Mariana Islands with less than 6,200 (6141.96) deaths followed by American Samoa with around 9,600 (9659.87) deaths.</li>
                <p/>
                <li> Beacuse of the small size and population of Island as compared to a country, the number of deaths recorded in Island is much less as compared to a country.</li>
                <p/>
            </ul>
    </body>
</html>