<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static\HOME.css">
    </head>    
    <body bgcolor="wheat">
            <center>
                <h1>CONCLUSION</h1>
            </center>
            <ul style="margin:40px 25px 20px 25px">
                <li> The total number of death worldwide due to all the factors is more than 1.6 billion.</li>
                <p/>
                <li> Maximum number of death due to all the factors is in China with more than 320 million  deaths followed by India with more than 280 million deaths.</li>
                <p/>
                <li> The major cause of death worldwide is due to High Systolic blood pressure and from 1990 to 2017 more than 1.1 billion people have died, followed by Smoking which is the second major cause of death and has taken more than 863 million lives.</li>
                <p/>
                <li> The major cause of death in India is due to Air Pollution and from 1990 to 2017 around 30 million people have died.</li>
                <p/>
                <li> In India, Household air pollution from solid fuels and Outdoor air pollution are contributing much to Air pollution, so more efforts has to be done to improve the Household air pollution from solid fuels and Outdoor air pollution in order to reduce the number of death due to Air pollution.</li>
                <p/>
                <li> The number of death due to ‘Unsafe water source’, ‘Unsafe sanitation’,  ‘No access to handwashing facility’ factors in India is more as compared to Pakistan.It is because of India’s large size and population as compared to Pakistan.</li>
                <p/>
                <li> In India, unsafe water affect more on access to handwash as compared to sanitation. So in order to increase the handwashing facility in India more efforts has to be done to improve the water sources.</li>
                <p/>
                <li> In Pakistan, improper sanitation affect more on access to handwash as compared to water sources. So in order to increase the handwashing facility in Pakistan more efforts has to be done to improve the sanitation process in the country.</li>
                <p/>
                <li> In India, Smoking is contributing more to High systolic blood pressure as compared to High fasting plasma glucose. So in order to decrease the death rate due to High systolic blood pressure in India more efforts has to be done to reduce the use of Smoking.</li>
                <p/>
                <li> In Pakistan,High fasting plasma glucose is contributing more to High systolic blood pressure as compared to Smoking that is with. So in order to decrease the death rate due to High systolic blood pressure in Pakistan more efforts has to be done to reduce High fasting plasma glucose.</li>
            </ul>
        <br><br><br>
        <center>
            <h2>To View My Full Report Click On the Link Given Below</h2>
        <a href="static/DeathAnalysisReport.docx" download="AyushPandeyReport.docx">Ayush Report</a>
        </center>
        <br><br>
    </body>
</html>