<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="static\HOME.css">
    </head>
    <body>
        <center>
        <h1>Death Mortality Rate Analysis</h1>
        <h2>By:</h2>
        <h1>Ayush Pandey</h1>
        <h2>Email Id: <a href="mailto:1805290@kiit.ac.in?subject=Feedback&body=Message">1805290@kiit.ac.in</a></h2>
        </center>
        <br>
        <h2 style="margin-left:20px;"><u>Abstract:</u></h2>
        <p>Death is the end of a life in an organism.We all are blessed with life in us and no matter what we do not like to give up on it at any point of time. 
           However in some situations at some point in our lives, we may be face to face with death and in such situations, it is indeed a battle between life and death.</p>
        <p>Early death for people is most commonly due to illnesses caused by smoking, high blood pressure, high sugar, alcohol misuse, less physical activity,etc.</p>
        <p>There are various causes of death, so this analysis focuses on the Death Rate of each country due to various risk factors and on what area the people and the government need to work in order to reduce the cause of death due to that particular reason.</p>
        <br><br>
        <h2 style="margin-left:20px;"><u>About Data:</u></h2>
        <p>The <a href="static/data_2.csv" download>data set</a> consists of 6468 record and 32 different features containing the data like Entity, Year, Unsafe water source, Alcohol use and much more of 231 entity’s including Country and Island from the year 1990 to 2017.</p>
        <br><br>
        <h2 style="margin-left:20px;"><u>Approach:</u></h2>
            <ul style="font-size:20px;font-family:'Glyphicons Halflings';margin:10px 25px 20px 25px;text-align:justify;">
                <li> Various python libraries such as NumPy, Pandas, Matplotlib, Seaborn are used for the purpose of mathematical calculations, extraction and visualization of the data.</li>
                <p/>
                <li> The extracted dataset was found to have null values which are then effectively handled to achieve accurate analysis.</li>
                <p/>
                <li> The datasets to be used for analysis was found to be highly skewed (Right Skewed). Although skewness will not have much effect on descriptive analysis, it is handled for the purpose of predictive analysis to accomplish better decisions from the model.</li>
            <ul>
        <br>
        <center>
            <ul class="pagination">
                <li><a href="/">Home</a></li>
                <li><a href="First">Country</a></li>
                <li><a href="Second">Factors</a></li>
                <li><a href="Third">Analysis</a></li>
                <li><a href="Forth">Conclusion</a></li>
              </ul>
        </center>
    </body>
</html>