<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static\HOME.css">
    </head>    
    <body bgcolor="wheat">
            <center>
                <h1>Factors Causing Death Worldwide</h1>
                <img src="static/Factors_count.png" height=450px width="450px">
            </center>
            <ul style="margin:40px 25px 20px 25px;">
                <li> From the above visualization it is clear that the major cause of death worldwide is due to High Systolic blood pressure and from 1990 to 2017 more than 1.1 billion (1127919446.38) people have died, followed by Smoking which is the second major cause of death and has taken more than 863 million (863790716.22) lives.</li>
                <p/>
            </ul>
            <br>
            <hr>
            <br>
            <center>
                <h1>Factors Causing Death In India</h1>
                <div class="container">
                    <img src="static/Factors_India.png" height="450" width="450" />
                    <p><b>Different Factors of Death And Thier Count (Figure 1)</b></p>
                  </div>
                  <div class="container">
                    <img class="middle-img" src="static/Death_Each_Year_India.png" height="450" width="450" />
                    <p><b>Top 3 Reasons For Death In India Graph (Figure 2)</b></p>
                  </div>
            </center>
            <ul style="margin:20px 25px 20px 25px;">
                <li> From the above visualization it is clear that the major cause of death in India is due to Air Pollution and from 1990 to 2017 around 30 million (30394991.85) people have died, followed by High systolic blood presure which is the second major cause of death and has taken around 29 million (28881676.30) lives.</li>
                <p/>
                <li> From figure 2,it is clear that the rate of increase of death due to High systolic blood pressure has increased exponentially from the year 2005, so major steps has to be taken in order to reduce the death from High systolic blood pressure and Air pollution</li>  
                <p/>
            </ul>

            <br>
            <hr>
            <br>
            <center>
                <h1>Factors Causing Death In Pakistan</h1>
                <div class="container">
                    <img src="static/Factors_Pakistan.png" height="450" width="450" />
                    <p><b>Different Factors of Death And Thier Count (Figure 3)</b></p>
                  </div>
                  <div class="container">
                    <img class="middle-img" src="static/Death_Each_Year_Pakistan.png" height="450" width="450" />
                    <p><b>Top 3 Reasons For Death In Pakistan Graph (Figure 4)</b></p>
                  </div>
            </center>
            <ul style="margin:20px 25px 20px 25px;">
                <li> From the above visualization it is clear that the major cause of death in Pakistan is due to High systolic blood pressure and from 1990 to 2017 more than 4.6 million (4631167.65) people have died, followed by Smoking which is the second major cause of death and has taken more than 3.3 million (3380837.05) lives.</li>
                <p/>
                <li> Both High systolic blood pressure and Air pollution are the main cause of death in Pakistan and from Figure 4, the rate of death due to Smoking is increasing in much faster rate as compared to Air pollution and from the year 2012, the rate of death reported due to Smoking is more as compared to Air pollution.</li>
                <p/>
            </ul>
    </body>
</html>