<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static\HOME.css">
    </head>    
    <body bgcolor="wheat">
            <center>
                <h1>Regression Analysis</h1>
            </center>
            <p style="background-color:rgba(0,0,0,0.20)">
                Regression analysis is a form of predictive modelling technique which investigates the relationship between
                 a dependent (target) and independent variable (s) (predictor). This technique is used for forecasting, time series
                  modelling and finding the causal effect relationship between the variables. For example, relationship between
                   rash driving and number of road accidents by a driver is best studied through regression.
                </p>
            <br>
            <br>
            <center>
                <h1>Regression Analysis between Unsafe water source, Unsafe sanitation, No access to handwashing facility worldwide</h1>
            </center>
            <h2 style="margin-left:20px;"><u>Purpose:</u></h2>
            <ul>
                <li> To predict ‘No access to handwashing facility’ worldwide with the help of ‘Unsafe water source’, ‘Unsafe sanitation’.</li>
                <p/>
            </ul>
            <p/>
            <p/>
            <h2 style="margin-left:20px;"><u>Inference:</u></h2>
            <ul style="font-size:20px;font-family:'Glyphicons Halflings';margin:10px 25px 20px 25px;text-align:justify;">
                <li> The regression coefficient of Unsafe water source is 0.297 and for Unsafe sanitation is 0.384 and by this it is clear that the Unsafe sanitation
                     is contributing much to no access to handwashing facility as compared to Unsafe water source that is with 1%  decrease in the sanitation facility leads to 38% (38.44%) decrease in access to handwashing facility.</li>
                <p/>   
                <li> The performance of the multiple regression model in predicting the No access to handwashing facility worldwide with the help of unsafe water source and unsafe sanitation is 99.11%.</li>
                <p/>
            </ul>
            <br>
            <hr>
            <br>
            <center>
                <h1>Regression Analysis between Unsafe water source, Unsafe sanitation, No access to handwashing facility for the Country India and Pakistan</h1>
            </center>
            <h2 style="margin-left:20px;"><u>Purpose:</u></h2>
            <ul style="font-size:20px;font-family:'Glyphicons Halflings';margin:10px 25px 20px 25px;text-align:justify;">
                <li> To predict ‘No access to handwashing facility’ in both the countries with the help of ‘Unsafe water source’, ‘Unsafe sanitation’.</li>
                <p/>
            </ul>
            <p/>
            <p/>
            <center>
                <div class="container">
                    <img src="static/Handwashing_India.png" height="400px" width="400px">
                    
                  </div>
                  <div class="container">
                    <img class="middle-img" src="static/Handwashing_Pakistan.png" height="400px" width="400px">
                    
                  </div>
                  <h3><b><u>Actual and Predicted value of Death due to No Access to Handwashing Facility</u></b></h3>
            </center>
            <h2 style="margin-left:20px;"><u>Inference:</u></h2>
            <ul>
                <li> In India, the regression coefficient of Unsafe water source is 0.539 and for Unsafe sanitation is 0.126 and by this it is clear that the Unsafe water source is contributing much to
                     no access to handwashing facility as compared to Unsafe sanitisation that is with 1% decrease in the water souce purity leads to 54% (53.94%) decrease in access to handwashing facility.</li>
                <p/>
                <li> The performance of the multiple regression model in predicting the No access to handwashing facility in India with the help of Unsafe water source and unsafe sanitation is is 99.87%.</li>
                <p/>
                <li> In Pakistan, the regression coefficient of Unsafe water source is 0.146 and for Unsafe sanitation is 0.383 and by this it is clear that the Unsafe sanitation is contributing much to
                     no access to handwashing facility as compared to Unsafe water source that is with 1% decrease in the sanitation facility leads to 38% (38.34%) decrease in access to handwashing facility.</li>
                <p/>     
                <li> The performance of the multiple regression model in predicting the No access to handwashing facility in Pakistan with the help of Unsafe water source and unsafe sanitation is is 99.83%.</li>
            </ul>

            <br>
            <br>
            <hr>
            <br>
            <center>
                <h1>Regression Analysis between Smoking,High fasting plasma glucose and High systolic blood pressure worldwide</h1>
            </center>
            <h2 style="margin-left:20px;"><u>Purpose:</u></h2>
            <ul>
                <li> The nicotine in cigarette smoke causes rise in blood pressure and heart rate, narrows the arteries and hardens their walls, and makes the blood more likely to clot which can lead to a heart attack or stroke.</li>
                <p/>
                <li> As blood with high glucose levels travels through the body, it can cause widespread damage, including to the blood vessels and kidneys. These organs play a key role in maintaining healthy blood pressure. If they experience damage, blood pressure can rise, increasing the risk of further harm and complications.</li>
                <p/>
                <li> To predict the ‘High systolic blood pressure’ worldwide with the help of ‘Smoking’ and ‘High fasting plasma glucose’.</li>
                <p/>
            </ul>
            <p/>
            <p/>
            <h2 style="margin-left:20px;"><u>Inference:</u></h2>
            <ul>
                <li> The regression coefficient of Smoking is 0.685 and for High fasting plasma glucose is 0.832 and by this it is clear that  High fasting plasma glucose is contributing much to 
                    High systolic blood pressure as compared to Smoking that is with 1% decrease in High fasting plasma glucose rate leads to 83% (83.2%) decrease in High systolic blood pressure.</li>
                <p/>
                <li> The performance of the multiple regression model in predicting the High systolic blood pressure worldwide with the help of  Smoking and High fasting plasma glucose is 99.10%.</li>
                <p/>
            </ul>
            <br>
            <hr>
            <br>
            <center>
                <h1>Regression Analysis between Smoking,High fasting plasma glucose and High systolic blood pressure for the Country India and Pakistan</h1>
            </center>
            <h2 style="margin-left:20px;"><u>Purpose:</u></h2>
            <ul>
                <li> To predict the ‘High systolic blood pressure’ in both the countries with the help of ‘Smoking’ and ‘High fasting plasma glucose’.</li>
                <p/>
            </ul>
            <p/>
            <p/>
            <center>
                <div class="container">
                    <img src="static/HS_BloodPressure_India.png" height="400px" width="400px">
                  </div>
                  <div class="container">
                    <img class="middle-img" src="static/HS_BloodPressure_Pakistan.png" height="400px" width="400px">
                  </div>
                  <h3><b><u>Actual and Predicted value of Death due to High Systolic Blood Pressure</u></b></h3>
            </center>
            <h2 style="margin-left:20px;"><u>Inference:</u></h2>
            <ul>
                <li> In India, the regression coefficient of Smoking is 1.124 and for High fasting plasma glucose is 0.943 and by this it is clear that Smoking is contributing much to High systolic blood pressure as compared
                     to High fasting plasma glucose that is with 1% decrease in the Smoking rate leads to 112% (112.4%) decrease in High systolic blood pressure.</li>
                <p/>
                <li> The performance of the multiple regression model in predicting the High systolic blood pressure in India with the help of  Smoking and High fasting plasma glucose is 99.34%.</li>
                <p/>
                <li> In Pakistan, the regression coefficient of Smoking is 0.589 and for High fasting plasma glucose is 0.761 and by this it is clear that  High fasting plasma glucose is contributing much to High systolic blood pressure as compared
                     to Smoking that is with 1% decrease in High fasting plasma glucose rate leads to 76% (76.10%) decrease in High systolic blood pressure.</li>
                <p/>     
                <li> The performance of the multiple regression model in predicting the High systolic blood pressure in Pakistan with the help of  Smoking and High fasting plasma glucose is 99.18%.</li>

            </ul>
            <br>
            <br>
            <hr>
            <br>
            
            <center>
                <h1>Regression Analysis between Vitamin A deficiency, Child Stunting, Low birth weight for gestation and Child Wasting worldwide</h1>
            </center>
            <h2 style="margin-left:20px;"><u>Purpose:</u></h2>
            <ul>
                <li> Children who are thin for their height is because of acute food shortages, deficiency and diseases.</li>
                <p/>
                <li> Deficiency of Vitamin A and Low birth weight for gestation are associated with significant morbidity and mortality from common childhood infections, and is one of the major cause for Child wasting.</li>
                <p/>
                <li> To predict the low weight for height (Child Wasting) with the help of 'Vitamin A deficiency','Child stunting' and 'Low birth weight for gestation'.</li>
                <p/>
            </ul>
            <p/>
            <p/>
            <h2 style="margin-left:20px;"><u>Inference:</u></h2>
            <ul>
                <li> The regression coefficient of  Vitamin A deficiency is 1.757, for Child stunting is 0.717 and for Low birth weight for gestation is 0.442,and by this it is clear that the Vitamin A 
                    deficiency is contributing much to low weight for height as compared to Child Stunting and Low birth weight for gestation that is with 1% decrease in death due to deficiency in Vitamin A  leads to 175% decrease in death due to Child wasting.</li>
                <p/>
                <li> The performance of the multiple regression model in predicting the Child wasting worldwide with the help of child stunting and Low birth weight for gestation is 99.71%.</li>
            </ul>
            <br>
            <hr>
            <br>
            <center>
                <h1>Regression Analysis between Vitamin A deficiency, Child stunting, Low birth weight for gestation and Child Wasting for the Country India and Pakistan</h1>
            </center>
            <h2 style="margin-left:20px;"><u>Purpose:</u></h2>
            <ul>
                <li> To predict the low weight for height (Child Wasting) in both the countries with the help of 'Vitamin A deficiency','Child Stunting' and 'Low birth weight for gestation'.</li>
                <p/>
            </ul>
            <p/>
            <p/>
            <center>
                <div class="container">
                    <img src="static/ChildWasting_India.png" height="400px" width="400px">
                  </div>
                  <div class="container">
                    <img class="middle-img" src="static/ChildWasting_Pakistan.png" height="400px" width="400px">
                  </div>
                  <h3><b><u>Actual and Predicted value of Death due to Child Wasting</u></b></h3>
            
            </center>
            <h2 style="margin-left:20px;"><u>Inference:</u></h2>
            <ul>
                <li> For India, the regression coefficient of  Vitamin A deficiency is -0.40, for Child stunting is 2.567 and for Low birth weight for gestation is 0.397,and by this it is clear that Child stunting
                     is contributing much to low weight for height as compared to Vitamin A deficiency and Low birth weight for gestation that is with 1% change in Child stunting leads to 257% change in death rate due to Child wasting.</li>
                <p/>
                <li> The performance of the multiple regression model in predicting the Child wasting in India with the help of child stunting and Low birth weight for gestation is 99.97%.</li>
                <p/>
                <li> For Pakistan, the regression coefficient of  Vitamin A deficiency is 0.722, for Child stunting is 0.698 and for Low birth weight for gestation is 0.826,and by this it is clear that Low birth weight for gestation
                     is contributing much to low weight for height as compared to Vitamin A deficiency and child stunting that is with  1% change in Low birth weight for gestation leads to 82.6% change in death rate due to Child wasting.</li>
                <p/>
                <li> The performance of the multiple regression model in predicting the Child wasting in Pakistan with the help of child stunting and Low birth weight for gestation is 97.79%.</li>
            </ul>

            <br>
            <br>
            <hr>
            <br>
            <center>
                <h1>Regression Analysis between Household air pollution from solid fuels,Smoking,Outdoor air pollution and Air Pollution worldwide</h1>
            </center>
            <h2 style="margin-left:20px;"><u>Purpose:</u></h2>
            <ul>
                <li> Cigarette smoking causes environmental pollution by releasing toxic air pollutants into the atmosphere. The cigarette butts also litter the environment, and the toxic chemicals in the
                     residues seep into soils and waterways, thereby causing soil and water pollution, respectively.</li>
                <p/>
                <li> Most indoor air pollution comes from sources that release gases or particles into the air. Things such as building materials and air fresheners give off pollution constantly.
                     Other sources such as tobacco smoke and wood-burning stoves also cause air pollution.</li>
                <p/>
                <li> To predict the Air pollution with the help of ‘Household air pollution from solid fuels’, ’Smoking’, ‘Outdoor air pollution’. </li>
                <p/>
            </ul>
            <p/>
            <p/>
            <h2 style="margin-left:20px;"><u>Inference:</u></h2>
            <ul>
                <li> The regression coefficient of Household air pollution from solid fuels deficiency is 0.966, for Smoking is 0.011 and for Outdoor air pollution is 0.938,and by this it is clear
                     that the ‘Household air pollution from solid fuels’ and ‘Outdoor air pollution’ are contributing much to Air pollution as compared to Smoking that is with 1% decrease in ‘Household air pollution from solid fuels’ and
                    ‘Outdoor air pollution’  leads to 96.6% and 93.8% decrease in Air pollution respectively.</li>
                <p/>
                <li> The performance of the multiple regression model in predicting the Air pollution worldwide with the help of ‘Household air pollution from solid fuels’, ‘Smoking’, ‘Outdoor air pollution’ is 99.98%.</li>
                
            </ul>
            <br>
            <hr>
            <br>
            <center>
                <h1>Regression Analysis between Household air pollution from solid fuels,Smoking,Outdoor air pollution and Air Pollution for the Country India and Pakistan</h1>
            </center>
            <h2 style="margin-left:20px;"><u>Purpose:</u></h2>
            <ul>
                <li> To predict the Air pollution in both the countries with the help of ‘Household air pollution from solid fuels’, ’Smoking’, ‘Outdoor air pollution’.</li>
                <p/>
            </ul>
            <p/>
            <p/>
            <center>
                <div class="container">
                    <img src="static/Air Pollution_India.png" height="400px" width="400px">
                  </div>
                  <div class="container">
                    <img class="middle-img" src="static/Air Pollution_Pakistan.png" height="400px" width="400px">
                  </div>
                  <h3><b><u>Actual and Predicted value of Death due to Air Pollution</u></b></h3>
            
            </center>
            <h2 style="margin-left:20px;"><u>Inference:</u></h2>
            <ul>
                <li> For India, the regression coefficient of Household air pollution from solid fuels deficiency is 0.966, for Smoking is -0.019 and for Outdoor air pollution is 0.959,and by this it is clear that the
                     ‘Household air pollution from solid fuels’ and ‘Outdoor air pollution’ are contributing much to Air pollution as compared to Smoking that is with 1% decrease in ‘Household air pollution from solid fuels’ and
                      ‘Outdoor air pollution’  leads to 96.6% and 96% decrease in Air pollution respectively.</li>
                <p/>
                <li> The performance of the multiple regression model in predicting the Air pollution in India with the help of ‘Household air pollution from solid fuels’, ‘Smoking’, ‘Outdoor air pollution’ is 99.98%.</li>
                <p/>
                <li> Air pollution is the major cause of death in India so steps has to be taken in order to reduce the Air pollution.</li>
                <p/>
                <li> For Pakistan, the regression coefficient of Household air pollution from solid fuels deficiency is 0.967, for Smoking is 0.020 and for Outdoor air pollution is 0.946,and by this it is clear that the
                     ‘Household air pollution from solid fuels’ and ‘Outdoor air pollution’ are contributing much to Air pollution as compared to Smoking that is with 1% decrease in ‘Household air pollution from solid fuels’ and 
                     ‘Outdoor air pollution’  leads to 96.7% and 94.6% decrease in Air pollution respectively.</li>
                <p/>
                <li> The performance of the multiple regression model in predicting the Air pollution in Pakistan with the help of ‘Household air pollution from solid fuels’, ‘Smoking’, ‘Outdoor air pollution’ is 99.99%.</li>
            </ul>

            <br>
            <hr>
            <br>
            <center>
                <h1>Regression Analysis between Diet Low in whole grains and Alcohol use for the country India and Pakistan</h1>
            </center>
            <h2 style="margin-left:20px;"><u>Purpose:</u></h2>
            <ul>
                <li> Many alcoholic people are malnourished,as they ingest too little of essential nutrients (e.g., carbohydrates, proteins). As a result, alcoholic people frequently experience deficiencies in proteins.</li>
                <p/>
                <li> To predict the death due to 'Alcohol use' in both the countries using 'Diet low in whole grains' data.</li>
                <p/>
            </ul>
            <p/>
            <p/>
            <center>
                <div class="container">
                    <img src="static/Alcohol_India.png" height="400px" width="400px">
                  </div>
                  <div class="container">
                    <img class="middle-img" src="static/Alcohol_Pakistan.png" height="400px" width="400px">
                  </div>
                  <h3><b><u>Actual and Predicted value of Death due to Alcohol Use</u></b></h3>
            
            </center>
            <h2 style="margin-left:20px;"><u>Inference:</u></h2>
            <ul>
                <li> Many alcoholics are malnourished,as they ingest too little of essential nutrients (e.g., carbohydrates, proteins). As a result, alcoholics frequently experience deficiencies in proteins.</li>
                <p/>
                <li> The performance of the polynomial regression model in prediting the death due to Alcohol use in India with the help of ‘Diet low in whole grains’ is 99.55%.</li>
                <p/>                    
                <li> The performance of the polynomial regression model in prediting the death due to Alcohol use in Pakistan with the help of ‘Diet low in whole grains’ is 99.74%.</li>
            </ul>
            
    </body>
</html>