<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static\Home.css">
        <body>
            <center>
                <div style="background-color:wheat;border-style:solid;border-width:2px;height:243px;width:330px;border-color:black;margin:auto;margin-top:100px;border-radius:8px;box-shadow:8px 8px 5px black">
                    <p style="margin-top:0px;background-color:rgba(0,0,0,.50);color:yellow;font-size:25px;text-align:center;font-weight:bolder">
                        <span><a href="https://cdn2.thedogapi.com/images/Skdcgx9VX.jpg"><img src="static\dog1.jpg" class="set1"></a></span>   DOG DETAILS</p>
                <form method='POST' action="/updating">
                
                <p>Breed:
                    <input type="text" placeholder="Enter.." name='breed' required>
                </p>
                <p>Origin:
                    <input type="text" placeholder="Enter.." name='origin' required>
                </p>
                <p>Purpose:
                    <input type="text" placeholder="Enter.." name='purpose' required>
                </p>
                <p>Image:
                    <input type="text" placeholder="Enter.." name='image' required>
                </p>
                <center><input type="submit" value="SUBMIT" name="submit">
                <input type="reset" value="RESET">
                </center>
                </form>
                </div>
            </center>
        </body>
    </head>
</html>